@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
  }

  .dark {
    --background: 0 0% 3.9%; /* #0a0a0a */
    --foreground: 0 0% 98%;
  }

  body {
    @apply bg-dark-bg text-white antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  /* Scrollbar personalizada estilo premium */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-dark-bg;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-700 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-500;
  }
}